services:
  _defaults:
    public: true
    autowire: true
    autoconfigure: true

  PrestaZone\CategoryTree\Service\CategoryTreeProvider:
    arguments:
      $connection: '@doctrine.dbal.default_connection'
      $dbPrefix: '%database_prefix%'
