# Ingore all
/*

# Modules catalog
!/modules/
!/modules/**

# Override catalog
!/override/
!/override/**

# Theme catalog
/themes/*
!/themes/

!/themes/maxstol-by-prestazone/
!/themes/maxstol-by-prestazone/**

!/themes/hummingbird/
!/themes/hummingbird/**

# System files
.DS_Store

# Repo files
!.gitignore
!README.md