# Ingore all
/*
/themes/*
.DS_Store

# Except for the following files
!.gitignore
!README.md

# Except for the modules
!/modules/
!/modules/**

# Except for the overrides
!/override/
!/override/**

# Except for the themes
!/themes/

!/themes/maxstol-by-prestazone/
!/themes/maxstol-by-prestazone/**

!/themes/hummingbird/
!/themes/hummingbird/**