.pz-orderconfirmation {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 32px;
}

@media (max-width: 991.98px) {
  .pz-orderconfirmation {
    grid-template-columns: 1fr;
  }
}

/* Overview */
.pz-orderconfirmation .pz-orderconfirmation__overview {
  border: 1px solid var(--color-gray-200);
  border-radius: 8px;
  height: fit-content;
}

.pz-orderconfirmation .pz-orderconfirmation__overview-line {
  padding: 24px;
}

.pz-orderconfirmation .pz-orderconfirmation__overview-line:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-200);
}

.pz-orderconfirmation .pz-orderconfirmation__overview .pz-orderconfirmation__overview-line {
  display: grid;
  grid-template-columns: 56px 1fr 0.3fr 0.3fr;
  align-items: center;
  gap: 24px;
}

.pz-orderconfirmation .pz-orderconfirmation__overview-line .pz-orderconfirmation__line-image {
  width: 56px;
  height: 56px;
  border: 1px solid var(--color-gray-200);
  border-radius: 6px;
}

.pz-orderconfirmation .pz-orderconfirmation__overview-line .pz-orderconfirmation__line-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pz-orderconfirmation .pz-orderconfirmation__overview-line .pz-orderconfirmation__line-name a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-gray-900);
}

.pz-orderconfirmation .pz-orderconfirmation__overview-line .pz-orderconfirmation__line-quantity {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-gray-900);
  text-align: center;
}

.pz-orderconfirmation .pz-orderconfirmation__overview-line .pz-orderconfirmation__line-price {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 125%;
  color: var(--color-gray-900);
  text-align: right;
}

@media (max-width: 575.98px) {
  .pz-orderconfirmation .pz-orderconfirmation__overview .pz-orderconfirmation__overview-line {
    grid-template-columns: auto 1fr;
  }
}
/* END Overview */

/* Sidebar */
.pz-orderconfirmation .pz-orderconfirmation__sidebar {
  border: 1px solid var(--color-gray-200);
  border-radius: 8px;
  height: fit-content;
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-block {
  padding: 24px;
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-block:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-200);
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--color-gray-900);
  margin-block-end: 16px;
}
/* END Sidebar */

/* Sidebar: Details */
.pz-orderconfirmation .pz-orderconfirmation__sidebar-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-details .pz-orderconfirmation__details-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-details .pz-orderconfirmation__details-line:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-200);
  padding-block-end: 16px;
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-details .pz-orderconfirmation__details-line .label {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--color-gray-900);
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-details .pz-orderconfirmation__details-line .value {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-gray-500);
  text-align: right;
}

@media (max-width: 575.98px) {
  .pz-orderconfirmation .pz-orderconfirmation__sidebar-details .pz-orderconfirmation__details-line {
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
  }
  
  .pz-orderconfirmation .pz-orderconfirmation__sidebar-details .pz-orderconfirmation__details-line .value {
    text-align: left;
  }
}
/* END Sidebar: Details */

/* Sidebar: Summary */
.pz-orderconfirmation .pz-orderconfirmation__sidebar-summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-summary .pz-orderconfirmation__summary-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-summary .pz-orderconfirmation__summary-line .label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-gray-500);
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-summary .pz-orderconfirmation__summary-line .value {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-gray-900);
  text-align: right;
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-summary .pz-orderconfirmation__summary-line.discount .value {
  color: var(--color-success);
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-summary .pz-orderconfirmation__summary-line:last-child {
  margin-block-start: 8px;
  padding-block-start: 8px;
  border-top: 1px solid var(--color-gray-200);
}

.pz-orderconfirmation .pz-orderconfirmation__sidebar-summary .pz-orderconfirmation__summary-line:last-child :is(.label, .value) {
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--color-gray-900);
}

@media (max-width: 575.98px) {
  .pz-orderconfirmation .pz-orderconfirmation__sidebar-summary .pz-orderconfirmation__summary-line {
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
  }
  
  .pz-orderconfirmation .pz-orderconfirmation__sidebar-summary .pz-orderconfirmation__summary-line .value {
    text-align: left;
  }
}
/* END Sidebar: Summary */