/* Image Slider */
section.ps-imageslider {
  margin-block-start: 40px;
}

section.ps-imageslider #home-slider {
  border-radius: 20px;
  overflow: hidden;
  min-height: 552px;
}

section.ps-imageslider .carousel .carousel-item {
  position: relative;
}

section.ps-imageslider .carousel .carousel-item::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='1320' height='539' viewBox='0 0 1320 539' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_905_2)'%3E%3Cmask id='mask0_905_2' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='1320' height='539'%3E%3Cpath d='M1320 0H0V539H1320V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_905_2)'%3E%3Cmask id='mask1_905_2' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='-772' y='-810' width='1885' height='1858'%3E%3Cpath d='M-280.051 1047.37L1112.57 539.227L620.627 -809.007L-771.994 -300.867L-280.051 1047.37Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_905_2)'%3E%3Cpath d='M701.55 18.9519C537.336 64.6944 549 191.483 656.489 335.931C785.229 508.952 663.295 660.197 445.541 608.456C136.549 535.034 178.165 765.627 264.184 848.79L-280.048 1047.37L-771.999 -300.853L-169.265 -520.783C-31.8667 -398.313 215.297 -618.693 237.755 -307.562C253.996 -82.468 420.192 -209.872 462.897 -245.526C551.173 -319.234 720.573 -408.174 810.227 -273.204C888.629 -155.147 811.067 -11.5631 701.55 18.9519Z' fill='%23FBFBFB'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_905_2'%3E%3Crect width='1320' height='539' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  pointer-events: none;
}

section.ps-imageslider .carousel .carousel-item .carousel-caption {
  max-width: 100%;
  width: 100%;
  padding-inline: 85px;
  left: 0;
}

section.ps-imageslider .carousel .carousel-item :is(h1, h2, h3, h4, h5, h6) {
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  color: var(--color-gray-900);
  margin-block-end: 8px;
}

section.ps-imageslider .carousel .carousel-item :is(li, p) {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-body);
}

section.ps-imageslider .carousel .carousel-item a {
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  color: var(--color-white);
  padding: 10px 14px;
  background: var(--color-red-400);
  border-radius: 6px;
  display: block;
  margin-block-start: 32px;
}

section.ps-imageslider .carousel .carousel-item .caption-description {
  max-width: 100%;
}

section.ps-imageslider .carousel .carousel-indicators button {
  background-color: var(--color-gray-900);
}

section.ps-imageslider .carousel .carousel-indicators button.active {
  background-color: var(--color-red-400);
}

@media (max-width: 991.98px) {
  section.ps-imageslider .carousel .carousel-item .carousel-caption {
    padding-inline: 36px;
  }
  
  section.ps-imageslider .carousel .carousel-item::before {
    background-position: 25%;
  }
}

@media (max-width: 767.98px) {
  section.ps-imageslider {
    padding-inline: 0 !important;
    margin: 0;
  }
  
  section.ps-imageslider #home-slider {
    border-radius: 0;
    min-height: 650px;
  }
  
  section.ps-imageslider .carousel .carousel-item::before {
    background-image: url("data:image/svg+xml,%3Csvg width='774' height='539' viewBox='0 0 774 539' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_905_3047)'%3E%3Cg clip-path='url(%23clip1_905_3047)'%3E%3Cpath d='M968.154 -133.337C997.813 245.089 723.667 317.465 339.434 202.87C-120.796 65.6313 -344.121 436.143 -69.6591 852.156C319.806 1442.48 -194.36 1531.43 -433.997 1414.97L-433.997 2705L2762 2705L2762 1276.3C2400.91 1082.36 2673.28 397.122 2005.25 587.626C1521.96 725.465 1661.62 280.561 1703.61 164.016C1790.42 -76.9054 1847.17 -499.15 1496.38 -583.672C1189.56 -657.565 948.392 -385.721 968.154 -133.337Z' fill='%23FBFBFB'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_905_3047'%3E%3Crect width='774' height='539' fill='white' transform='matrix(-1 0 0 1 774 0)'/%3E%3C/clipPath%3E%3CclipPath id='clip1_905_3047'%3E%3Crect width='3301' height='3196' fill='white' transform='matrix(4.37114e-08 1 1 -4.37114e-08 -434 -596)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: 25% 70px;
  }
  
  section.ps-imageslider .carousel .carousel-item .carousel-caption {
    bottom: 0;
    transform: unset;
  }
}

@media (max-width: 575.98px) {
  section.ps-imageslider .carousel .carousel-item .carousel-caption {
    padding-inline: 24px;
  }
}
/* END Image Slider */

/* Featured Categories */
.pz-featuredcategories {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-block: 80px;
}

.pz-featuredcategories .pz-featuredcategories__thead {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.pz-featuredcategories .pz-featuredcategories__thead .body-small {
  color: var(--color-body);
}

.pz-featuredcategories .pz-featuredcategories__blocks {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.pz-featuredcategories .pz-featuredcategories__block {
  break-inside: avoid;
  margin: 0 0 24px;
  width: 100%;
}

.pz-featuredcategories .pz-featuredcategories__block a {
  padding-block: 24px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background: #858282;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  min-height: 192px;
}

.pz-featuredcategories .pz-featuredcategories__block:nth-child(1) a, 
.pz-featuredcategories .pz-featuredcategories__block:nth-child(3) a {
  min-height: 254px;
}

.pz-featuredcategories .pz-featuredcategories__block .pz-featuredcategories__block-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.pz-featuredcategories .pz-featuredcategories__block .pz-featuredcategories__block-title {
  padding: 10px;
  border-radius: 4px;
  background: var(--color-white);
  color: var(--color-black);
}

@media (max-width: 991.98px) {
  .pz-featuredcategories {
    gap: 36px;
  }
}

@media (max-width: 767.98px) {
  .pz-featuredcategories .pz-featuredcategories__blocks {
    display: block;
    column-count: 2;
    column-gap: 12px;
  }
  
  .pz-featuredcategories .pz-featuredcategories__block {
    margin: 0 0 12px;
  }
  
  .pz-featuredcategories .pz-featuredcategories__block:nth-child(1) a, 
  .pz-featuredcategories .pz-featuredcategories__block:nth-child(4) a {
    min-height: 254px;
  }
  
  .pz-featuredcategories .pz-featuredcategories__block:nth-child(2) a, 
  .pz-featuredcategories .pz-featuredcategories__block:nth-child(3) a {
    min-height: 192px;
  }
  
  .pz-featuredcategories .pz-featuredcategories__block a {
    padding-inline: 12px;
  }
}
/* END Featured Categories */

/* Banner */
.pz-banner {
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  min-height: 539px;
  display: flex;
  align-items: center;
  padding-inline: 113px;
  padding-block: 32px;
}

.pz-banner::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='1320' height='539' viewBox='0 0 1320 539' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_905_2)'%3E%3Cmask id='mask0_905_2' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='1320' height='539'%3E%3Cpath d='M1320 0H0V539H1320V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_905_2)'%3E%3Cmask id='mask1_905_2' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='-772' y='-810' width='1885' height='1858'%3E%3Cpath d='M-280.051 1047.37L1112.57 539.227L620.627 -809.007L-771.994 -300.867L-280.051 1047.37Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_905_2)'%3E%3Cpath d='M701.55 18.9519C537.336 64.6944 549 191.483 656.489 335.931C785.229 508.952 663.295 660.197 445.541 608.456C136.549 535.034 178.165 765.627 264.184 848.79L-280.048 1047.37L-771.999 -300.853L-169.265 -520.783C-31.8667 -398.313 215.297 -618.693 237.755 -307.562C253.996 -82.468 420.192 -209.872 462.897 -245.526C551.173 -319.234 720.573 -408.174 810.227 -273.204C888.629 -155.147 811.067 -11.5631 701.55 18.9519Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_905_2'%3E%3Crect width='1320' height='539' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  z-index: 2;
  display: block;
}

.pz-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.pz-banner .pz-banner__meta {
  position: relative;
  z-index: 3;
  max-width: 473px;
}

.pz-banner .pz-banner__meta-title {
  font-weight: 700;
  margin-block-end: 8px;
}

.pz-banner .pz-banner__meta-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 360px;
}

.pz-banner .pz-banner__meta-desc > * {
  margin: 0;
}

.pz-banner .pz-banner__meta-desc :is(p, li) {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  color: #7D7D7D;
}

.pz-banner .pz-banner__meta-desc :is(b, strong) {
  font-weight: 700;
}

.pz-banner .pz-banner__meta-link {
  display: block;
  width: fit-content;
  margin-top: 32px;
}

@media (max-width: 991.98px) {
  .pz-banner {
    padding-inline: 60px;
  }
  
  .pz-banner::before {
    background-position: 20%;
  }
}

@media (max-width: 767.98px) {
  .pz-banner {
    align-items: flex-end;
    padding-inline: 24px;
  }
  
  .pz-banner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='1320' height='539' viewBox='0 0 1320 539' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_905_12)'%3E%3Cpath d='M-549.43 -141.726C1691 1122.47 2919.49 -354.942 3313.87 -3043.34C3786.39 -6263.41 6701.47 -6576.19 8472.98 -3700.43C10986.7 380.285 13003.3 -2524.44 12972.8 -4329.77L20899.3 -641.339L11762.1 18995L2983.5 14910.2C2824.2 12137.1 -2164.92 11851.3 915.487 8291.6C3144.14 5716.34 11.1586 5302.39 -825.005 5227.15C-2553.52 5071.69 -5310.25 4213.11 -4826.69 1816.16C-4403.53 -280.236 -2043.7 -984.751 -549.43 -141.726Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_905_12'%3E%3Crect width='1320' height='539' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: unset;
  }
  
  .pz-banner .pz-banner__meta, 
  .pz-banner .pz-banner__meta-desc {
    max-width: 100%;
  }
}
/* END Banner */

/* Reviews */
.pz-googlereviews {

}

.pz-googlereviews {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-block: 80px;
}

.pz-googlereviews .pz-googlereviews__thead {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.pz-googlereviews .pz-googlereviews__thead .body-small {
  color: var(--color-body);
}

/* END Reviews */

/* Contact */
section.contact-form {
  padding-block: 96px;
}

section.contact-form .contact-form__title {
  font-weight: 700;
  margin-block-end: 16px;
  text-align: center;
}

section.contact-form .contact-form__desc {
  color: var(--color-gray-500);
  text-align: center;
}

section.contact-form .form-footer {
  padding-top: 0;
}

section.contact-form form {
  margin-block-start: 64px;
}

section.contact-form form .form-label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-gray-900);
  margin-block-end: 8px;
}

section.contact-form form .form-control, 
section.contact-form form select {
  background: var(--color-gray-50);
  border-color: var(--color-gray-300);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-gray-900);
}

section.contact-form form .form-control::placeholder {
  color: var(--color-gray-500);
}

section.contact-form form select {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.18414 5.76751C4.423 5.53783 4.80282 5.54528 5.0325 5.78414L8 8.93434L10.9675 5.78414C11.1972 5.54528 11.577 5.53783 11.8159 5.76751C12.0547 5.99718 12.0622 6.37701 11.8325 6.61587L8.4325 10.2159C8.31938 10.3335 8.16321 10.4 8 10.4C7.83679 10.4 7.68062 10.3335 7.5675 10.2159L4.1675 6.61587C3.93782 6.37701 3.94527 5.99718 4.18414 5.76751Z' fill='black'/%3E%3C/svg%3E");
  background-size: 16px;
  background-position: center right 12px;
  background-repeat: no-repeat;
}

section.contact-form form textarea {
  height: 166px;
  resize: none;
}

section.contact-form form .mb-3 {
  margin-bottom: 32px !important;
}

section.contact-form .form-footer {
  justify-content: flex-start;
}

section.contact-form .alert {
  font-size: 0.875rem;
  padding: 10px;
}

section.contact-form .alert ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media (max-width: 991.98px) {
  section.contact-form form {
    margin-block-start: 32px;
  }
  
  section.contact-form form [type="submit"] {
    width: 100%;
    text-align: center;
  }
}
/* END Contact */