/* Image Slider */
section.ps-imageslider {
  margin-block-start: 40px;
}

section.ps-imageslider #home-slider {
  border-radius: 20px;
  overflow: hidden;
  min-height: 552px;
}

section.ps-imageslider .carousel .carousel-item {
  position: relative;
}

section.ps-imageslider .carousel .carousel-item .carousel-caption {
  max-width: 100%;
  width: 100%;
  padding-inline: 85px;
  left: 0;
}

section.ps-imageslider .carousel .carousel-item :is(h1, h2, h3, h4, h5, h6) {
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  color: var(--color-white);
  margin-block-end: 8px;
}

section.ps-imageslider .carousel .carousel-item :is(li, p) {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-white);
}

section.ps-imageslider .carousel .carousel-item a {
  width: fit-content;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  color: var(--color-white);
  padding: 10px 14px;
  background: var(--color-red-400);
  border-radius: 6px;
  display: block;
  margin-block-start: 32px;
}

section.ps-imageslider .carousel .carousel-item a:hover {
  background: var(--color-gray-900);
}

section.ps-imageslider .carousel .carousel-item .caption-description {
  max-width: 100%;
}

section.ps-imageslider .carousel .carousel-indicators button {
  background-color: var(--color-gray-900);
}

section.ps-imageslider .carousel .carousel-indicators button.active {
  background-color: var(--color-red-400);
}

@media (max-width: 991.98px) {
  section.ps-imageslider .carousel .carousel-item .carousel-caption {
    padding-inline: 36px;
  }
  
  section.ps-imageslider .carousel .carousel-item::before {
    background-position: 25%;
  }
}

@media (max-width: 767.98px) {
  section.ps-imageslider {
    padding-inline: 0 !important;
    margin: 0;
  }
  
  section.ps-imageslider #home-slider {
    border-radius: 0;
    min-height: 650px;
  }
  
  section.ps-imageslider .carousel .carousel-item::before {
    background-image: url("data:image/svg+xml,%3Csvg width='774' height='539' viewBox='0 0 774 539' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_905_3047)'%3E%3Cg clip-path='url(%23clip1_905_3047)'%3E%3Cpath d='M968.154 -133.337C997.813 245.089 723.667 317.465 339.434 202.87C-120.796 65.6313 -344.121 436.143 -69.6591 852.156C319.806 1442.48 -194.36 1531.43 -433.997 1414.97L-433.997 2705L2762 2705L2762 1276.3C2400.91 1082.36 2673.28 397.122 2005.25 587.626C1521.96 725.465 1661.62 280.561 1703.61 164.016C1790.42 -76.9054 1847.17 -499.15 1496.38 -583.672C1189.56 -657.565 948.392 -385.721 968.154 -133.337Z' fill='%23FBFBFB'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_905_3047'%3E%3Crect width='774' height='539' fill='white' transform='matrix(-1 0 0 1 774 0)'/%3E%3C/clipPath%3E%3CclipPath id='clip1_905_3047'%3E%3Crect width='3301' height='3196' fill='white' transform='matrix(4.37114e-08 1 1 -4.37114e-08 -434 -596)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: 25% 70px;
  }
  
  section.ps-imageslider .carousel .carousel-item .carousel-caption {
    bottom: 0;
    transform: unset;
  }
}

@media (max-width: 575.98px) {
  section.ps-imageslider .carousel .carousel-item .carousel-caption {
    padding-inline: 24px;
  }
}
/* END Image Slider */

/* Contact */
section.contact-form {
  padding-block: 96px;
}

section.contact-form .contact-form__title {
  font-weight: 700;
  margin-block-end: 16px;
  text-align: center;
}

section.contact-form .contact-form__desc {
  color: var(--color-gray-500);
  text-align: center;
}

section.contact-form .form-footer {
  padding-top: 0;
}

section.contact-form form {
  margin-block-start: 64px;
}

section.contact-form form .form-label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--color-gray-900);
  margin-block-end: 8px;
}

section.contact-form form .form-control, 
section.contact-form form select {
  background: var(--color-gray-50);
  border-color: var(--color-gray-300);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-gray-900);
}

section.contact-form form .form-control::placeholder {
  color: var(--color-gray-500);
}

section.contact-form form select {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.18414 5.76751C4.423 5.53783 4.80282 5.54528 5.0325 5.78414L8 8.93434L10.9675 5.78414C11.1972 5.54528 11.577 5.53783 11.8159 5.76751C12.0547 5.99718 12.0622 6.37701 11.8325 6.61587L8.4325 10.2159C8.31938 10.3335 8.16321 10.4 8 10.4C7.83679 10.4 7.68062 10.3335 7.5675 10.2159L4.1675 6.61587C3.93782 6.37701 3.94527 5.99718 4.18414 5.76751Z' fill='black'/%3E%3C/svg%3E");
  background-size: 16px;
  background-position: center right 12px;
  background-repeat: no-repeat;
}

section.contact-form form textarea {
  height: 166px;
  resize: none;
}

section.contact-form form .mb-3 {
  margin-bottom: 32px !important;
}

section.contact-form .form-footer {
  justify-content: flex-start;
}

section.contact-form .alert {
  font-size: 0.875rem;
  padding: 10px;
}

section.contact-form .alert ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media (max-width: 991.98px) {
  section.contact-form {
    padding-block: 32px;
  }
  
  section.contact-form form {
    margin-block-start: 32px;
  }
  
  section.contact-form form [type="submit"] {
    width: 100%;
    text-align: center;
  }
}
/* END Contact */